body{
    background-color: whitesmoke;
    text-align: center;
}
.title-container{
    margin: 2rem 0 1rem 0;
}

.title{
    font-size: 3rem;
    font-family: "Oswald";
}

.loading img{
    transform: translateY(100%);
    
}

.scroll-wrapper img{
    width: 90%;
    margin: 0.5rem 0;
}

@media screen and (min-width: 375px) and  (max-width: 425px) {

    .title{
        font-size: 2rem;
    }

}

@media screen and (min-width: 321px) and  (max-width: 375px) {

    .title{
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 320px) {
    .title{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 320px) and  (max-width: 425px)  {
    .scroll-wrapper img{
        width: 99%;
    }

}